<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Penjelajah Kuliner</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="images/logo.png" />
    <script
      src="https://kit.fontawesome.com/c09ccc772c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <a href="#restaurants" class="skip-link">Ke konten utama</a>
    <nav class="nav">
      <div class="nav__logo">
        <img src="images/logo.png" alt="logo" />
        <div class="nav__burger" id="burger" >
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <ul class="nav__list" id="navlist">
        <li class="nav__list__item"><a href="/">Home</a></li>
        <li class="nav__list__item"><a href="#">Favorite</a></li>
        <li class="nav__list__item"><a target="_blank" href="https://www.linkedin.com/in/alfonsus-avianto-chandrawan-680a271a6">About Us</a></li>
      </ul>
    </nav>
    <main id="maincontent">
      <div>
        <h1>Penjelajah Kuliner</h1>
        <p>Website untuk Anda Para Penikmat Kuliner Nusantara</p>
      </div>
    </main>
    <section id="restaurants">
      <h2>Explore Restaurant</h2>
      <div class="card-container" id="card-container"></div>
    </section>
    <footer>Copyright © 2021 - Alfonsus Avianto Chandrawan</footer>
  </body>
</html>
